<div class="container mt-5">
  <div class="row">
    <div class="col-sm-7">
      <h1>Ürünler</h1>
      <div class="product">
        <img [src]="product.photoPath" [alt]="product.name">
        <div class="product-name">{{product.name}}</div>
        <div class="product-price">{{product.price.toFixed(2)}} TL</div>
        <div class="quantity-bar d-flex justify-content-between align-items-center mt-2">
          <button class="btn btn-sm btn-danger">-</button>
          <span>{{product.quantity > 0 ? product.quantity : '-'}}</span>
          <button class="btn btn-sm btn-success">+</button>
        </div>
      </div>
      
    </div>
    <div class="col-sm-5">
      <h1>Sepet</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Ürün</th>
            <th>Miktar</th>
            <th class="text-end">Fiyat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Domates</td>
            <td>1 KG</td>
            <td class="text-end">3.99</td>
          </tr>

          <tr>
            <td>Çipura</td>
            <td>11 Adet</td>
            <td class="text-end">154.00</td>
          </tr>

        </tbody>

        <tfoot>
          <tr class="total">
            <td colspan="2">Toplam</td>
            <td class="text-end">182.59 TL</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>